* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 174, 174);
    display: flex;
    justify-content: center;
}

.mob-disp {
    position: relative;
    border: 3px solid white;
    border-radius: 25px;
    height: 500px;
    width: 270px;
    top: 70px;
    overflow: hidden;
}

nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul {
    background-color: white;
    display: flex;
    list-style: none;
    justify-content: space-around;
    height: 50px;
    border-radius: 0px 0px 15px 15px;
}

nav li {
    color: rgb(77, 70, 70);
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

nav li p {
    font-size: 15px;
    margin: 2px 0;
}

nav ul li:hover {
    color: rgb(0, 0, 0);
}
